.container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 200px;
  margin-left: 20px;
}

.searchbar {
  width: 200px !important;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--font1);
  border-bottom: solid 1px rgb(168, 166, 166);
  font-size: 16px;
}

.grid {
  background-color: white;
  color: black;
  padding-top: 10px;
}

.grid p {
  padding: 3px;
  margin-bottom: 10px;
}

.grid p:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.noResults {
  background-color: white;
  color: black;
  font-size: 14px;
}

.loading {
  color: white;
}

.container button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-family: var(--font1);
  font-weight: bolder;
  border: solid 2px transparent;
}

.container button:hover {
  background-color: black;
  color: white;
  border: solid 2px white; 
  transition: 200ms;
}

.authorSelected {
  padding: 15px;
  background-color: black;
  border: solid 5px white;
  border-radius: 10px;

  color: white;
  font-family: var(--font1);
}
