.container {
  margin: 0;
  position: absolute;
  left: 0;
}

.imagePreviewContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
}

.imagePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePreview img {
  height: 220px;
  width: 145px;
  border-radius: 7px;
  border: solid 3px white;
  margin-top: 10px;
}

.imagePreview button {
  font-family: var(--font1);
  margin-top: 10px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.theInput {
  cursor: pointer;
}
