.theButton {
  border: 0;
  border-radius: 7px;
  background-color: var(--main-color);
  color: rgb(0, 0, 0);
  margin-right: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: fantasy;
  font-weight: lighter;
  border:solid 2px transparent;
  white-space: nowrap;
}

.theButton i {
  border: 0;
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.theButton:hover {
  cursor: pointer;
  border: solid 2px white;
  background-color: black;
  color: white;
  transition: 1ms;
}

.theButton:hover i {
  background-color: black;
  color: white;
}