.container {
  width: 140px;
  position: relative
}

.fileInput {
  display: none;
}

.uploadArea {
  width: 140px;
  height: 180px;
  border: 2px dashed #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
}

.placeholder {
  color: #f0f0f0;
  font-size: 14px;
  text-align: center;
}


.fileName {
  font-size: 14px;
  white-space: nowrap;
  color: #555; /* Customize text color */
}

.imageContainer {
  margin-top: 60px;
}

.image {
  width: 144px;
  height: 184px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}





