.superContainer {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  height: 800px;
}

.container {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 16%;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  margin-top: 50px;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field input {
  margin-left: 10px;
  font-family: var(--secondary-font);
  width: 350px;
  height: 30px;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  color: black;
  outline: none;
}

.nameLabel {
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-family: var(--primary-font);
}

.searchBarContainer {
  width: 100%;
  position: absolute;
  top: 65%;
}

.submitButton {
  font-family: var(--secondary-font);
  color: black;
  background-color: rgb(255, 255, 255);
  border: solid 2px black;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 70px;
  padding-left: 70px;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton:hover {
  color: white;
  border: solid 2px white;
  background-color: black;
}
