.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbar {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-family: Kanit;
  width: 70%;
  height: 40px;
  padding-left: 30px;
  border-radius: 20px;
  border: 0;
  background-color: rgb(255, 255, 255);
  border: solid 2.5px var(--main-color);
  outline: none;
}
.searchbar::placeholder {
  color: rgb(149, 148, 148);
}

.gridContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: rgb(28, 28, 28);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 0px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.gridItem {
  margin-top: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border-radius: 10px;
  padding-right: 60px;
  margin-right: 10px;
  margin-left: 15px;
  background-color: rgb(229, 227, 227);
  color: black;
  cursor: pointer;
}

.cover {
  height: 100%;
  width: 180px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid transparent;
}

.informationContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box2 {
  display: flex;
  flex-direction: column;
}

.author {
  margin-top: 15px;
  margin-bottom: 25px;
}

.box2 p {
  font-size: 15px;
  color: rgba(40, 40, 40, 0.841);
}

.name {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.loading {
  margin-top: 30px;
  font-size: 19px;
  color: white;
}
.error {
  margin-top: 30px;
  font-size: 19px;
  color: white;
}

.scrollbarContainer {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.headline p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.scrollbarContainer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
