.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container P {
  color: white;
  display: inline-block;
  margin: 20px;
  font-size: 17px;
  cursor: pointer;
}

.container:hover {
  cursor: pointer;
}