.container {
  margin: 0;
  position: absolute;
  left: 0;
  width: 780px;
}

.container p {
  font-size: 23px;
}

.imagePreviewContainer {
  padding-bottom: 25px;
  display: flex;
  gap: 20px;
  padding: 10px;
  align-items: center;
  overflow-x: auto;
  box-shadow: 
  -10px 0  10px -5px rgba(255, 255, 255, 0.507), /* Left shadow */
  10px 0 10px -5px rgba(255, 255, 255, 0.295);
}

.imagePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePreview img {
  height: 220px;
  width: 145px;
  border-radius: 7px;
  border: solid 3px white;
  margin-top: 10px;
}

.imagePreview button {
  font-family: var(--font1);
  margin-top: 10px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.theInput {
  cursor: pointer;
}
