.addIcon {
  position: absolute;
  font-size: 55px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.addedIcon {
  position: absolute;
  font-size: 55px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
