@import "tailwindcss";
@import "./fonts/fonts.css";

/*GLOBAL VARIABLES*/
:root {
  --main-color: rgb(255, 255, 255);
  --background-color: #0000005b;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.home-background {
  background-image: url('./assets/img.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 100px);
}

/* General scrollbar styles for WebKit browsers */

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: #1f1c1c;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Color of the scrollbar thumb */
  border-radius: 1px; /* Roundness of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Padding around the scrollbar thumb */
}
