@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.superContainer {
  flex-direction: column;
  margin-top: 12%;
  font-family: "Raleway", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.childComponent {
  width: 90%;
  display: flex;
}

.coverContainer {
  display: flex;
  width: 25%;
  border-radius: 7px;
}

.coverContainer img {
  width: 100%;
  border-radius: 7px;
}

.information1 {
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

.top-container {
  display: flex;
  position: relative;
}

.ratingContainer {
  display: flex;
  gap: 40px;
  position: absolute;
  right: 12%;
}

.titleName {
  font-size: 40px;
  font-family: var(--font2);
}

.descriptionContainer p {
  font-size: 16px;
}

@media screen and (max-height: 150px) {
  .descriptionContainer {
    font-size: 14px;
  }
}

.descriptionContainer {
  margin-top: 5%;
}

.descriptionContainer p {
  font-family: var(--font1);
  color: white;
  line-height: 1.3;
}

.author-released-button {
  position: relative;
  display: flex;
  margin-top: 6%;
  margin-bottom: 10px;
}

.additionButton {
  position: absolute;
  z-index: 1;
  right: 10%;
}

.information1 h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: inline;
}

.field {
  color: rgba(224, 224, 224, 0.718);
  margin-right: 5px;
}

.otherInfoContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
