@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.headline {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 0;
}

.headline p {
  font-size: 50px;
  display: inline;
  color: white;
}

.contentGrid {
  margin-top: 5%;
  background-color: rgb(0, 0, 0);
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px 50px; /* 10px vertical gap, 20px horizontal gap */
  justify-content: center;
}

.noReadlistMessage {
  color: white;
}

.footerContainer {
  margin-top: 10%;
  margin-bottom: 3%;
}
